site:
  title: Stargate documentation
  url: https://stargate.io/docs
  start_page: stargate:quickstart:quickstart.adoc

content:
  edit_url: 'https://github.com/stargate/docs/blob/main/{path}'
  sources:
    - url: .
      branches: HEAD

ui:
  bundle:
    url: https://github.com/stargate/antora-ui-stargate/releases/download/v.0.7/ui-bundle.zip
  supplemental_files: ./supplemental-ui
  # override the default _ dir for assets, as Jekyll will delete them
  output_dir: assets

asciidoc:
  attributes:
    source-highlighter: highlightjs
    page-pagination: ''
  extensions:
  - ./lib/tabs-block.js
