<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a href="https://stargate.io"><img src="{{uiRootPath}}/img/logos/stargate-horizontal.png" style="height:40px" /></a>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
    <div id="topbar-nav" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="{{siteRootUrl}}">Stargate</a>
        <!-- <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">API docs</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="">0.1</a>
          </div>
        </div> -->
        <div class="navbar-item has-dropdown is-hoverable">
          <div class="navbar-link">Community</div>
          <div class="navbar-dropdown">
            <a class="navbar-item" href="https://github.com/stargate/docs/issues">File a bug</a>
            <a class="navbar-item" href="https://groups.google.com/a/lists.stargate.io/g/stargate-users">Ask a question</a>
            <a class="navbar-item" href="https://twitter.com/stargateio">Follow us on Twitter</a>
          </div>
        </div>
        <div class="navbar-item">
          <span class="control">
            <a class="button is-primary" href="https://github.com/stargate/">Stargate GitHub</a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</header>
