name: Publish docs

on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

env:
  SITE_DIR: 'site'
jobs:
  build_site:
    name: "Build site with Antora"
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: "Render redoc"
        run: |
          npm install -g redoc-cli

          redoc-cli bundle api/StargateRESTv2.yaml --output modules/ROOT/attachments/restv2.html
          redoc-cli bundle api/StargateRESTv1.yaml --output modules/ROOT/attachments/restv1.html
          redoc-cli bundle api/StargateDocv2.yaml --output modules/ROOT/attachments/docv2.html

      - name: "Generate site using antora site action"
        uses: kameshsampath/antora-site-action@master
        with:
         antora_playbook: site-publish.yaml
         site_sources_path: ./

      - name: "List folder"
        run: |
          ls -ltra $GITHUB_WORKSPACE

      - name: "Fix attachments"
        run: |
          sudo mv $GITHUB_WORKSPACE/build/$SITE_DIR/stargate/1.0/_attachments $GITHUB_WORKSPACE/build/$SITE_DIR/stargate/1.0/attachments
          sudo sed -i 's/_attachments/attachments/g' $GITHUB_WORKSPACE/build/$SITE_DIR/stargate/1.0/api.html
          ls -ltra $GITHUB_WORKSPACE/build/$SITE_DIR/stargate/1.0
          grep attachment $GITHUB_WORKSPACE/build/$SITE_DIR/stargate/1.0/api.html

      - name: "Upload generated site"
        uses: actions/upload-artifact@v2
        with:
          name: site
          path: "${{ github.workspace }}/build/${{ env.SITE_DIR }}"

  deploy_site:
    runs-on: [ubuntu-latest]
    needs: [build_site]
    name: "Deploy GitHub Pages"
    steps:
     - name: Setup Node.js for use with actions
       uses: actions/setup-node@v2
       with:
         node-version: '16'
         cache: 'npm'

     - name: Checkout
       uses: actions/checkout@v2

     - name: Download generated site
       uses: actions/download-artifact@v2
       with:
         name: site
         path: "${{ github.workspace }}/${{ env.SITE_DIR }}"
         
     - name: Deploy to GitHub Pages
       uses: peaceiris/actions-gh-pages@v3
       with:
          personal_token: "${{ secrets.PUBLISH_STARGATE_DOCS }}"
          external_repository: stargate/website
          publish_branch: 'gh-pages'
          publish_dir: "${{ env.SITE_DIR }}"
          destination_dir: docs
          disable_nojekyll: true
