name: Publish docs

on:
  push:
    tags:
    - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

env:
  SITE_DIR: 'site'
jobs:
  build_site:
    name: "Build site with Antora"
    runs-on: [ubuntu-latest]
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: "Generate site using antora site action"
        uses: kameshsampath/antora-site-action@master
        with:
         antora_playbook: site-publish.yaml
         site_sources_path: ./
      - name: "List folder"
        run: |
          ls -ltra $GITHUB_WORKSPACE
      - name: "Upload generated site"
        uses: actions/upload-artifact@v1.0.0
        with:
          name: site
          path: "${{ github.workspace }}/build/${{ env.SITE_DIR }}"
  deploy_site:
    runs-on: [ubuntu-latest]
    needs: [build_site]
    name: "Deploy GitHub Pages"
    steps:
     - name: Setup Node.js for use with actions
       uses: actions/setup-node@v1
       with:
         version: 14.x
     - name: Checkout
       uses: actions/checkout@v2
     - name: Download generated site
       uses: actions/download-artifact@v1
       with:
         name: site
         path: "${{ github.workspace }}/${{ env.SITE_DIR }}"
     - name: Deploy to GitHub Pages
       uses: peaceiris/actions-gh-pages@v3.7.0-8
       with:
          personal_token: "${{ secrets.PUBLISH_STARGATE_DOCS }}"
          external_repository: stargate/website
          publish_branch: 'gh-pages'
          publish_dir: "${{ env.SITE_DIR }}"
          destination_dir: docs
          disable_nojekyll: true
